<div class="open">
    <input type="file" class="open__file-ctrl hide-by-pos" />
    <div class="open__icons">
      <div class="open__icon open__icon">
        <i class="fa fa-key open__icon-i"></i>
        <div class="open__icon-text">KeeWeb</div>
      </div>
    </div>

    <div class="open__pass-area">
        <div class="open__pass-warn-wrap">
            <div class="open__pass-warning muted-color invisible"><i class="fa fa-exclamation-triangle"></i> {{res 'openCaps'}}</div>
        </div>

        <div class="open__setpass-field-wrap">
          <input class="open__setpass-input" type="password" size="30" autocomplete="off" maxlength="1024"
                 placeholder="{{res 'openSetPassword'}}" />
        </div>

        <div class="open__setpassconfirm-field-wrap">
          <input class="open__setpassconfirm-input" type="password" size="30" autocomplete="off" maxlength="1024"
                 placeholder="{{res 'openSetPasswordConfirm'}}" />
          <div class="open__setpassconfirm-enter-btn"><i class="fa fa-level-down fa-rotate-90"></i></div>
        </div>
    </div>
    <div class="open__config-wrap">
    </div>
</div>
